body, html{ font-size: 16_3x; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif; box-sizing: border-box;margin: 0;padding: 0;}
:before,*:after{ box-sizing: border-box; }
h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0;padding: 0;}
ol,ul{list-style-position: inside;}
small{line-height: 1rem;}
img{height: auto; width: 100%;}
a{text-decoration: none;}
hr{border:none; border-bottom: 1px solid #ddd}

/*---=======================================CSS index============================================---*/


.header_1 {
  width: 100%;
  height: auto;
}
  
  
.nav_bar_1 {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px;  
}
  
  
#logo_1 {
  width: 100px; 
  height: auto; 
}
  
  
  
  .menu-container, .hamburger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .hamburger .line {
    width: 30px;
    height: 4px;
    background-color:#f1c40f;
    border-radius: 2px;
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: -260px; /* Partenza fuori schermo */
    width: 250px;
    height: 100%;
    background-color: black;
    border: 1px solid #f1c40f ;
    transition: left 0.5s ease; /* Transizione dolce */
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    text-align: center;
    margin: 20px 0;
    
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    color: #f1c40f; 
  }
  
  
  .sidebar.open {
    left: 0;
  }

  .container_ham {
    display: flex;             
    justify-content: space-between; 
    align-items: center;         
    padding: 20px 20px;          
}






/*---slide (//2)---*/
.main-container_111 {
  width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    /*background-color: #005C99;*/
   /* margin-top: 70px;*/
   background-color: black;
    
  }
  
  #h1_99 {
    font-family: 'Playfair Display', serif;
    font-size: 190px;
    position: absolute;
    margin-left: 35px;
    color: #FFD700;
}



  /*---CSS slide (//1)---*/
   .sliding-container {
    width: 100%; 
    height: 170px; 
    overflow: hidden; /* Nasconde le immagini fuori dal contenitore */
  }
  
  .slide-track {
    display: flex; 
    animation: scroll-left 3s linear infinite; 
    width: calc(80%); 
    height: 180px;
  }
  
  .slide-track img {
    width: 20%; 
    height: auto; 
    flex-shrink: 0; 
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-20%); 
    }
  }
  

.container_1{
    width: 50%;
    height: auto;
}

#p_1{
    color: white;
}


.section_1{
  width: 100%;
  height: auto;
  margin-bottom: 160px;
  
}

#h2_slide{
  margin-left: 10px;
  padding-bottom: 10px;
}

#p_slide_0{
  margin-left: 10px;
  margin-right: 10px;
}

#a_345{
  color: black;
  /*font-size: 18px;*/
}




/*---===== slide (//1)=====---*/
.slider-container {
  width: 20%;
  height: auto;
  border: 1px solid #f1c40f;
  background-color: black;
  float: right;
  overflow: hidden;
  /*border-radius: 10px;*/
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);*/
  position: relative;
  margin-left: auto; /* Spinge il contenitore verso destra */
  margin-right: 20px;
}

.container_slide{
  width: 100%;
  height: auto;
}

#p_slide{
  color: rgb(0, 0, 0);
  margin-left: 5px;
}

.slider {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}


  

/*-----=====CSS delle tre collone ora, data ecc...-----======*/
.main-container {
  display: flex;
  margin: 5px;
  height: 85px;
  }
  
.colonna {
  flex: 1;
  
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Permette di usare top */
  top: -60px; /* Solleva ogni colonna di 20px sopra l'header */
  z-index: 1; /* Porta le colonne davanti all'header */
  }
  
.colonna h2 {
  margin-top: 0;
  }

#p_21{
  color: #f1c40f;
}
  



.colonna-1, #data, #ora{
    background-color: black;
    border: 1px solid#f1c40f;
    color: #f1c40f;
    padding: 6px;
    
  }

  .colonna-3 {
  margin-right: 0;
  background-color: rgb(0, 0, 0);
  border: 1px solid#f1c40f;
  color: #f1c40f;
  padding: 3px;
  }
  
  .colonna-3 {
  margin-right: 0;

  }

  .circle-container {
    width: 170px;           
    height: 170px; 
    background-color: black;       
    border-radius: 50%;     
    overflow: hidden;       
    display: flex;          
    justify-content: center; 
    align-items: center;    
    border: 1px solid #f1c40f; 
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2); 
    position: relative; 
    top: -85px; 
    z-index: 1;
    
}

.circle-container img {
    width: 80%;      
    height: 80%;    
    object-fit: cover; 
}

  

/* Media Query per tablet (Nest Hub Max, tablet) */
@media (max-width: 1280px) {
  .slider-container {
    width: 50%; /* Aumenta la larghezza per tablet */
  }

  .colonna-3 {
    width: 15%;
  }

  .colonna {
    top: -40px;
  }

  .section_1{
    margin-bottom: 60px;
  }

  .circle-container {
    width: 150px;
    height: 150px;
    top: -70px;
  }

  #h1_99 {
    font-size: 100px;
  }
}

/* Media Query per tablet più piccoli (Nest Hub, tablet piccoli) */
@media (max-width: 1024px) {
  .slider-container {
    width: 20%;
  }

  .colonna-3 {
    width: 20%;
  }

  .circle-container {
    width: 140px;
    height: 140px;
    top: -60px;
  }

  #h1_99 {
    font-size: 90px;
  }
}

/* Media Query per smartphone */
@media (max-width: 767px) {
  .colonna-1, #data, #ora {
    padding: 6px;
    font-size: 14px;
  }

  .sidebar ul li a:hover {
    color: #f1c40f;
  }

  .container_ham {
    padding: 20px 10px;
  }

  .slider-container {
    width: 30%;
    border: 1px solid #f1c40f;
    float: right;
  } 

  .main-container {
    display: flex;
    margin: 5px;
    height: 97px;
  }

  .colonna-3 {
    margin-left: 0;
    width: 10%;
    border: 1px solid #f1c40f;
  }

  .colonna {
    flex: 1;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
    top: -60px; 
    z-index: 1; 
  }

  .circle-container {
    width: 128px;
    height: 128px; 
    background-color: black;       
    border-radius: 50%;     
    overflow: hidden;       
    display: flex;          
    justify-content: center; 
    align-items: center;    
    border: 1px solid #f1c40f; 
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2); 
    position: relative; 
    top: -82px; 
    z-index: 1;
  }

  #h1_99 {
    font-size: 120px;
    margin-top: -15px;
    margin-left: 13px;
  }

  .sliding-container {
    overflow: hidden; 
    width: 100%; 
    height: 120px; 
  }

  .slide-track {
    display: flex; 
    animation: scroll-left 3s linear infinite; 
    width: calc(150%);
    height: 130px; 
  }

  .section_1 {
    margin-bottom: 40px;
  }
}


 .main-container_24 {
  position: relative;
  width: auto;
  height: 100px;
  background-color: black;
  /*border: 1px solid #f1c40f;*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sub-container {
  width: 15%;
  height: 70px;
  border: 2px solid black;
  margin: 0 5px;
  position: relative;
  top: -59px;
  
  animation: slide-and-color 8s infinite;
}

/* Animazione */
@keyframes slide-and-color {
  0% {
      transform: translateX(0);
      background-color: #f1c40f; /* Giallo */
  }
  25% {
      transform: translateX(50px);
      background-color: rgba(0, 0, 0, 0.5); /* Giallo trasparente */
  }
  50% {
      transform: translateX(0);
      background-color: #f1c40f; /* Giallo */
  }
  75% {
      transform: translateX(-50px);
      background-color: rgba(0, 0, 0, 0.5); /* Giallo trasparente */
  }
  100% {
      transform: translateX(0);
      background-color: #f1c40f; /* Giallo */
  }
}


#p_59{
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  position: absolute;
  margin-top: 10px;
  color: #FFD700;
}

/*Smartphone*/
@media (max-width: 767px) {
  #p_59 {
    font-size: 35px;
   
  }

  .main-container_24 {
    height: 65px;
    
  }

  .sub-container {
    width: 21%;
    height: 45px;
    top: -46px;
   
  }
}


/*---=====css video (1//)=====---*/
.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  
}

video {
  object-fit: cover; 
  width: 100%;
  height: 100%;
}


/*=======================================CSS chi_sono================================================*/

.section_10{
  width: 100%;
  height: auto;
}

/*---container 1---*/
.container_1{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

#h2-1, #p-1{
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#h2-1{
  /*color: #FFD700;*/
  
  font-family: 'Lora', serif; /* Imposta il font per i titoli */ 
}

/*---container 2---*/

.container_2{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

#h2-2, #p-2{
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#h2-2{
  
  /*color: #D4AF37;*/
  font-family: 'Lora', serif; /* Imposta il font per i titoli */ 
}

/*---container 3---*/


.container_3{
  width: 100%;
  height: auto;
  
}

#h2-3{
  /*color: #FFD700;*/
  
  font-family: 'Lora', serif; /* Imposta il font per i titoli */ 
  margin-left: 10px;
}

#h3_7{
  margin-top: 15px;
  font-family: 'Lora', serif; /* Imposta il font per i titoli */ 
}

#ul_1 {
  list-style-type: disc;
  margin-left: 30px;
}

#li_1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*codice menu (//1)*/
.container_76 {
  width: 300px;
  height: auto;
  /*margin-bottom: 20px;*/
}
.menu {
  /*background: #1e1e1e;*/
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
.menu-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #333;
  font-weight: bold;
  transition: background 0.3s;
}

/*.menu-item:hover {
  background: #960f0f;
}*/

.menu-item.active {
  background: #000000;
  border: solid 1px #FFD700;
  color: #ffffff;
  
}
.submenu {
  display: none;
  padding-left: 15px;
  margin-top: 5px;
}
.submenu div {
  padding: 5px 0;
}





/*=========================================progetti==============================================*/
.section_12{
  width: 100%;
  height: auto;
}

.container_21{
  width: 100%;
  height: auto;
}

.container_34{
  width: 100%;
  height: auto;
}

#h2_76{
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#p_76{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
}

/*p{
  font-weight: 600;
}*/



#a_145{
  font-size: 30px;
  color: #fff;
}

#a_146{
  font-size: 30px;
  color: #fff;
}


/*---container progetti (1//)---*/
.projects-container {
  display: flex;
  flex-wrap: nowrap; 
  width: 100%;
  gap: 20px;
  justify-content: flex-start; 
  overflow-x: scroll; 
  scrollbar-width: none; 
}

.projects-container::-webkit-scrollbar {
  display: none; 
}

.project {
  flex: 0 0 auto;
  width: 13%;
  height: 100px;

  background-color: black;
  border: 2px solid #FFD700;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #333;
  margin: 35px 15px;
}

/*.project:hover {
  background-color: #000000;
  border-color: #FFD700;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease;
}*/

/*Smartphone*/
@media (max-width: 767px) {
  .project {
    width: 110px;
    height: 80px;
    margin: 20px 5px;
  }

  #h2_76{
    font-size: 30px;
  }

  #a_145{
    font-size: 20px;
  }
  
  #a_146{
    font-size: 20px;
  }

}

/*==================================================CSS contatti=========================================*/


.contact-section {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: black;
  padding-top: 5px;
}



.video-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}

video {
  width: 60%;
  height: auto;
  object-fit: cover;
}

/*.figure_1{
  
  height: auto;
  border: solid 1px white
}

#img_figure{
width: 50%;
height: auto;
}*/

.overlapping-containers {
  position: relative;
  top: -60px; /* Sovrappone i container al video */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container {
  width: 18%;
  height: 100px;
  background-color: black;
  border: 1px solid #FFD700;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

#p_87 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay.hidden {
  display: none;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 25px;
}

.overlay-content h2 {
  margin: 0 0 10px;
  color: black;
}

.overlay-content p {
  margin: 0;
  color: black;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
  color: white;
}

.container_contatti{
  width: 50%;
  height: auto;
  
    
    align-items: center; /* Centra verticalmente */
    
}



#h2_contatti{
  /*color: #FFD700;*/
  color: #D4AF37;
  font-family: 'Playfair Display', serif;
  margin-bottom: 5px;
  font-size: 35px;
  
}

#p_contatti_121{
  color: white;
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
  margin: 0 300px;
}

/*Smartphone*/
@media (max-width: 767px) {
  video {
    width: 95%;
    height: auto;
  }

  .container {
    width: 105px;
    height: 70px;
    
  }

  #p_contatti_121{
    font-size: 17px;
    padding-bottom: 10px;
    margin: 0 5px;
  }

  .overlapping-containers {
    top: -45px; /* Sovrappone i container al video */
   
  }

  #p_87{
    font-size: 20px;
    margin-top: 20px;

 }
}

#p_89{
 
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}



 /*===========================================CSS footer============================================*/
 footer {
  /*background: linear-gradient(to right, #000000, #727272, #dad9db);*/
  background: black;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: auto;
  /*border: 2px solid #f1c40f; */
  }
  
  .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
  flex: 1;
  padding: 0 15px;
  }
  
  .footer-left h3 {
  font-size: 24px;
  margin-bottom: 15px;
  }
  
  
  
  .footer-contact {
  font-size: 14px;
  }
  
  .footer-contact a {
  color: #FFD700;
  text-decoration: none;
  }
  
  .footer-center .footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  }
  
  .footer-center .footer-links a:hover {
  text-decoration: underline;
  }
  
  .footer-right {
  text-align: right;
  }
  
  .footer-right .footer-company-name {
  font-size: 14px;
  }
  
  
  
  /* Smartphone */
  @media only screen and (max-width: 767px) {

    .footer-right .footer-company-name {
      font-size: 13px;
      }

    .footer-container {
      flex-direction: column;
      text-align: center;
  }
  
    .footer-center {
      width: 100%;
      margin-top: 10px;
  }
  
  .footer-center{
    width: 100%;
  }
  
  .footer-right {
    text-align: center;
    margin-top: 15px;
    width: 100%;
  }
  
  
  .footer-links{
    width: 100%;
  }
   
  }
  
  #h3_1{
    color: #FFD700;
    margin-bottom: 20px;
    font-family: 'Lora', serif; /* Imposta il font per i titoli */ 
  }
  
  #logo_2{
    width: 30%;
    height: auto;
  }